body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: #f1f1f1;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #ff5f5f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h3, h4 {
  margin-bottom: 0;
}

.abouttitle{
  margin-left: 30px;
  margin-bottom: 60px;
}

.aboutPage h3{
text-align: center;
}
.title {
  position: absolute;
  left: 20px;
  bottom:-3px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
  border-bottom: 4px solid #333;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav .active {
  font-weight:800;
  font-size: x-large;
  text-decoration: none;
  position: relative;
}

nav .active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 5px solid blue; 
}



nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 24px 32px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #ff5f5f;
  color: white;
}

#page-body {
  max-width:900px;
  min-height: 100vh;
  margin: auto;
  padding-top: 120px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.article-list-item {
  text-decoration: none;
  color: #333;
  padding: 16px 0 0 0;
  transition: color 0.3s;
}

.article-list-item:hover {
  color: #ff5f5f;
}

.article-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid #ccc;
}

.link {
  position: absolute;
  margin-left: 15px;
  font-size: 20px;
  color: blue;
}

#add-comment-form {
  border-bottom: 2px solid #ccc;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
  color: #333;
  font-size: 20px;
}

input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid #ccc;
  margin-bottom: 16px;
  background-color: #f8f8f8;
  color: #333;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: #ffebef;
  color: #ff5f5f;
}

#add-comment-form button {
  width: 320px;
  background-color: #ff5f5f;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

#add-comment-form button:hover {
  background-color: #e63e47;
}

#upvotes-section button,
p {
  display: inline-block;
  margin-right: 16px;
  color: #333;
}

.comment {
  border-bottom: 2px solid #ccc;
  padding: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.homepage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.homepage h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.homepage-paragraph {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}

.testimonials {
  margin-top: 40px;
}

.testimonials h3{
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-style: italic;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;

}

.testimonial-name {
  font-size: 16px;
  font-weight: bold;
 margin-left: 390px;

}



